.Post{
    display: flex;
    
   
}

.singlePost{
    padding-right: 1rem;
    flex:10
}

/* .singlePostHeading{
    margin-top: 1rem;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
} */

.singlePostHeading {
    font-weight: 900;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 50px;
  }



.tagsContainer{
    display: flex;
   
}

.postInfoAuthor1,.postInfoDate1,.postInfoCategory1{
    padding:10px;
    font-weight: 500;
}
.postInfoAuthorSpan1{
    font-weight: 300;
    cursor: pointer;
}

.postInfoAuthorSpan1:hover{
    color: teal;
}
.postInfoDateSpan1{
    font-weight: 400;
}
.postInfoCategoryList1{
    padding: 0;
    display: flex;
    padding: 10px;
}

.postInfoCategory1{
    padding: 0;
    list-style:none;
    
}
.postInfoCategoryListItem1{
    padding: 0;
    list-style: none;
    flex-direction: column;
    padding-left: 6px;
    cursor: pointer;
}

.postInfoCategoryListItem1:hover{
    color:teal;
}

.postImageContainer{
   
}

.postImages{
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    object-fit: contain;
}

.sidebar2{

    width: max-content;
    margin: 0;
    padding: 0;

}


.postDesc1{
    color: rgb(66, 64, 64);
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 10px;
    font-weight: 100;
    line-height: 1.8;
}

.postDesc1FirstPara{
    line-height: 1.8;
    color: rgb(77, 75, 75);
    font-family: "Varela Round", Arial, Helvetica, sans-serif;  
    font-size: 17px;
    padding: 10px;
    font-weight: 100;
}
.postDesc1FirstPara::first-letter {
    
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }

  .singlePostEdit{
    justify-content: space-between;
    margin-left:auto;
   
  }
  .singlePostTitleInput {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
  }

  .singlePostTitleInput:focus {
    outline: none;
  }
  
  .singlePostEdit {
    float: right;
    font-size: 16px;
  }
  
  .singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
    padding:10px;
    cursor: pointer;
  }
  
  .singlePostIcon:first-child {
    color: teal;
  }

 .singlePostIcon:first-child:hover{
    color: rgb(4, 82, 82);
  }
  
  .singlePostIcon:last-child {
    color: tomato;
  }

  .singlePostIcon:last-child:hover {
    color: rgb(195, 55, 31);
  }



  .singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
  }
  
  .singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  
  .singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    height: 100vh;
  }
  
  .singlePostDescInput:focus {
    outline: none;
  }
  .singlePostButton {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
  }








